<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BootLeaf</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/css/app.css') }}">

    <link rel="apple-touch-icon" sizes="76x76"  href= "{{ url_for('static',filename='assets/img/favicon-76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120"  href= "{{ url_for('static',filename='assets/img/favicon-120.png') }}">
    <link rel="apple-touch-icon" sizes="152x152"  href= "{{ url_for('static',filename='assets/img/favicon-152.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon"  href= "{{ url_for('static',filename='assets/img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-icon-container">
            <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
          </div>
          <a class="navbar-brand" href="#">BootLeaf</a>
        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="container">
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title
            </div>
            <div class="panel-body">
              <div>
                <div class="form-container">
                  <p>
                    <label for="days">Days of prediction:</label>
                    <input type="text" id="days" readonly style="border:0; color:#0075FF; font-weight:100; width: 30px;">
                  </p>
                  <div id="slider-range-min"></div>
                  <button class = '' id = 'pred'>Predict</button>
                </div>
                <div class="sidebar-table" id="sidebar-table">
                  <table class="table table-hover" id="feature-list">
                      <tbody class="list"></tbody>
                  </table> 
                </div>
              </div>
            </div>
            <div id="chart-div-pred"> </div>
            <div class='resize-left' id="resize-left" ><i class='bx bxs-left-arrow bx-flip-vertical '  ></i><i class='bx bxs-right-arrow bx-flip-vertical right-arrow' ></i></div>
            <div id="compare">
              <p>
                <label for="years">Years:</label>
                <input type="text" id="years" readonly style="border:0; color:#0075FF; font-weight:100;">
                
              </p>
                <div id="slider-range" style="margin-left: 15px; margin-right: 25px; width:400px;"></div>
              <div>
                <div class="checkboxes" style="margin-left:0px;">
                  <input type="checkbox" id="comp-dis" name="comp-dis" value="dis" checked>
                  <label for="comp-dis" class="label-box">Discharge</label>
                </div>
                <div class="checkboxes">
                  <input type="checkbox" id="comp-temp" name="comp-temp" value="temp">
                  <label for="comp-temp" class="label-box">Temperature</label>
                </div>
                <div class="checkboxes">
                  <input type="checkbox" id="comp-prec" name="vehcomp-precicle3" value="prec">
                  <label for="comp-prec" class="label-box">Precipitation</label>
                </div>
              </div>
            </div>  
            <div id="chart-div"></div>
          </div>
        </div>
      </div>
      <div id="map"></div>
    </div>

    <div class="spin" id="loading"></div>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js"></script>
    <script src="{{ url_for('static',filename='assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/app.js') }}"></script>

  </body>
</html>
